<header>
  <mat-toolbar color="primary" fxLayoutAlign="center center">
    <span>クイズもっと知りたい{{guestName}}{{questionNumber}}のこと</span>
    <span class="spacer"></span>
    <div fxLayoutAlign="right">
      <button mat-icon-button (click)="exit()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>

<div fxLayout="row" fxLayoutAlign="center">
  <div class="form-body" fxLayout="column">
    <app-question></app-question>
    <span *ngIf="!isGuest">
      <app-answer></app-answer>
    </span>
    <div *ngIf="!isRegister">
      <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="register(createForm.value)">
        <div>
          <label>名前: </label>
          <input type="text" formControlName="name" autocomplete="off">
        </div>
        <button type="submit">登録</button>
      </form>
    </div>
    <mat-card *ngIf="isRegister&&!isGuest">
      <div>
        <form [formGroup]="createForm" (ngSubmit)="submitAnswer(createForm.value)">
          <mat-form-field fxFill>
            <mat-label>回答</mat-label>
            <input matInput type="text" formControlName="answer" autocomplete="off">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">送信</button>
        </form>
      </div>
    </mat-card>
  </div>
  <div fxLayout="column" fxLayoutAlign="right">
    <app-ranking>
    </app-ranking>
    <button (click)="resetPoints()">点数リセット</button>
    <button (click)="exit()">退出する</button>
  </div>
</div>
